@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-primary {
    @apply border-gray-400 bg-gray-100 dark:border-gray-500 dark:bg-gray-900;
  }
  .bg-secondary {
    @apply border-gray-400 bg-white dark:border-gray-500 dark:bg-gray-700;
  }
  .text-primary {
    @apply text-gray-800 dark:text-gray-50;
  }
  .text-secondary {
    @apply text-gray-700 dark:text-gray-200;
  }
  .text-tertiary {
    @apply text-gray-600 dark:text-gray-300;
  }
  .text-error {
    @apply text-red-600 dark:text-red-500;
  }
  .list-primary {
    @apply text-secondary cursor-pointer rounded px-3 py-2 text-left text-base font-medium transition duration-300 lg:hover:bg-gray-200 lg:dark:hover:bg-gray-800;
  }
  .list-secondary {
    @apply text-tertiary w-full cursor-pointer rounded pr-2 text-left text-base font-medium transition duration-300 lg:hover:bg-gray-200 lg:dark:hover:bg-gray-800;
  }
  .accent-primary {
    @apply bg-yellow-200 text-gray-900 shadow-md shadow-gray-400 transition duration-300 hover:bg-yellow-200 dark:border-none dark:shadow-black;
  }
  .message-received {
    @apply text-primary my-2 mr-auto max-w-xl rounded-4xl bg-gray-200 p-1 dark:bg-gray-900;
  }
  .message-sent {
    @apply my-2 max-w-xl rounded-4xl bg-yellow-200 p-1 text-gray-900;
  }
  .timing {
    @apply transition-all duration-300;
  }
  .layout-cols {
    grid-template-columns: minmax(300px, 28rem) auto;
  }
}

@keyframes expand0 {
  0% {
    width: 35%;
  }
  50% {
    width: 40%;
  }
  100% {
    width: 35%;
  }
}

@keyframes expand1 {
  0% {
    width: 20%;
  }
  50% {
    width: 25%;
    background-color: rgb(253 224 71 / var(--tw-bg-opacity));
  }
  100% {
    width: 20%;
  }
}

@keyframes expand2 {
  0% {
    width: 40%;
  }
  50% {
    width: 45%;
    background-color: rgb(253 224 71 / var(--tw-bg-opacity));
  }
  100% {
    width: 40%;
  }
}

@keyframes expand3 {
  0% {
    width: 30%;
  }
  50% {
    width: 35%;
  }
  100% {
    width: 30%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 0.5s linear infinite;
}

.animation-0 {
  animation: expand0 4s infinite;
}

.animation-1 {
  animation: expand1 4s infinite;
}

.animation-2 {
  animation: expand2 5s infinite;
}

.animation-3 {
  animation: expand3 6s infinite;
}
